<%= render 'shared/error_messages' %>
<%= form_with model: board do |f| %>
  <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body, '本文' %>
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
  </div>
  <span class="image">
  <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
    <div class="form-group">
    <span>タグ</span>
    <span>※一度につけられるタグは１つまでです。 </span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class="form-check">
        <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= f.submit '保存', class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  $("#board_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#board_image").val("");
    }
  });
</script>