<div class="d-flex align-items-center">
  <h1>北星掲示板一覧</h1>
  <div class="ml-auto boards__linkBox">
      <%= form_with url: boards_path, method: :get, class: 'boards__searchForm' do %>
        <%= select_tag :tag_id, 
                      options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                      {
                        prompt: 'タグで絞り込み',
                        class: 'form-control boards__select',
                        onchange: 'submit(this.form);'
                      }
      %>
      <% end %>
    <%= link_to '新しく投稿する', new_board_path, class:"btn btn-outline-dark" %>
  </div>
</div>
<p>北星掲示板では、大学生活についての悩みを書き込めます</p>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>
<ul>
<li>全投稿数　　　全<%= @boards_count %>件</li>
<li>今日の投稿数　全<%= @today_count %>件</li>
<li>今月の投稿数　全<%= @month_count %>件</li>
<li>先月の投稿数　全<%= @lastmonth_count %>件</li>
</ul>
<p>並び替え 古い順　新しい順</p>
<table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr>
      <%# <th>ID</th> %>
      <th>タイトル</th>
      <%# <th>作成者</th> %>
      <th>作成日時</th>
      <th>タグ</th>
      <th>コメント数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.title %></td>
        <br class="d-lg-none">
        <td><%= board.created_at.to_s(:datetime_jp) %></td>
        <% board.tags.each do |tag| %>
        <td><%= tag.name %><br></td>
        <% end %>
        <td><%= board.comments.count %></td>
        <td><%= link_to '詳細', board, class: 'btn btn-outline-dark' %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<%= paginate @boards %>

